.cls-1 {
  fill: #4070b9;
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9, .cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-15 {
  stroke-width: 0px;
}

.cls-2 {
  fill: #1fc4f5;
}

.cls-3 {
  fill: #000;
}

.cls-4 {
  fill: #f03525;
}

.cls-5 {
  fill: #376640;
}

.cls-6 {
  fill: #91c03a;
}

.cls-7 {
  clip-path: url(#clippath);
}

.cls-7, .cls-8 {
  fill: none;
}

.cls-16 {
  clip-path: url(#clippath-1);
}

.cls-9 {
  fill: #5a3936;
}

.cls-10 {
  fill: #9c7eb8;
}

.cls-11 {
  fill: #973832;
}

.cls-12 {
  fill: #613839;
}

.cls-13 {
  fill: #a63233;
}

.cls-14 {
  fill: #00a849;
}

.cls-15 {
  fill: #753337;
}